:root{
  --clr-primary-accent-hsl: 277, 64%, 61%;

  --clr-primary-bg: hsl(233, 47%, 7%);
  --clr-secondary-bg: hsl(244, 38%, 16%);
  --clr-primary-accent: hsl(var(--clr-primary-accent-hsl));

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

  --fs-base: 15px;
  --fs-sm: calc(var(--fs-base) * 0.875);
  --fs-lg: calc(var(--fs-base) * 1.125);
  --fs-xl: calc(var(--fs-base) * 1.25);
  --fs-2xl: calc(var(--fs-base) * 1.5);
  --fs-3xl: calc(var(--fs-base) * 1.875);
  --fs-4xl: calc(var(--fs-base) * 2);
  --fs-5xl: calc(var(--fs-base) * 2.5);

  --fw-base: 400;
  --fw-bold: 700;

  --ff-base: "Inter", sans-serif;
  --ff-secondary: "Lexend Deca", sans-serif;
}

*, *::before, *::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font: inherit;
}

img, svg{
  max-width: 100%;
  display: block;
}

main{
  font-family: var(--ff-base);
  font-weight: var(--fw-base);
  color: var(--clr-neutral-transparent-white);
  font-size: var(--fs-base);

  background-color: var(--clr-primary-bg);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card{
  display: grid;
  grid-template-areas: 
    'image'
    'details';

  margin: 1.5rem;
  background-color: var(--clr-secondary-bg);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 1160px;
}

.card__image{
  position: relative;
  grid-area: image;
}

.card__image img{
  width: 100%;
}

.card__image::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(var(--clr-primary-accent-hsl), 0.5);
}

.card__desc{
  display: grid;
  gap: var(--fs-base);
}

.card__title{
  font-size: var(--fs-3xl);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-white);
  line-height: 2rem;
}

.card__details{
  display: grid;
  grid-area: details;
  place-items: center;
  text-align: center;
  gap: var(--fs-5xl);
  padding: 2.5rem 2rem;
}

.card__title span{
  color: var(--clr-primary-accent);
}

.card__text{
  line-height: 25px;
}

.card__data{
  display: grid;
  place-items: center;
  gap: 2em;
  font-size: var(--fs-sm);
  font-weight: 400;
  color: var(--clr-neutral-slightly-transparent-white);
}

.card__data span{
  display: block;
  font-size: var(--fs-2xl);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-white);
  line-height: var(--fs-5xl);
}

@media(min-width: 600px){
  .card{
    grid-template-areas: 'details image';
    grid-auto-columns: 1fr;
  }

  .card__details{
    text-align: left;
    padding: 4rem;
  }

  .card__title {
    font-size: var(--fs-5xl);
    line-height: 2.5rem;
  }

  .card__data{
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: left;
    place-items: start;
  }

  .card__desc {
    gap: var(--fs-4xl);
  }

  .card__text{
    width: 80%;
  }
}
